In [4]:
import pandas as pd
df = pd.read_csv("T_MHDM task.csv")

In [5]:
df

,STUDYID,DOMAIN,MHTERM,MHMODIFY,MHLLT,MHLLTCD,MHDECOD,MHPTCD,MHHLT,MHHLTCD,...,MHDICT,MHDICTV,MHDICT_QEVAL,MHDICTV_QEVAL,MHDICTV_QORIG,MHDICT_QORIG,SUBJID,GRPID,SPID,DCMDATE
0,M13-494,MH\nDM,MULTIPLE MYELOMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,25203.0,Multiple Myeloma History,RV-251567100-L2-T01,20210615.0
1,M13-494,MH\nDM,MULTIPLE MYELOMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,29901.0,Multiple Myeloma History,RV-251567100-L2-T01,20210615.0
2,M13-494,MH\nDM,MULTIPLE MYELOMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,24304.0,NaN,NaN,NaN
3,M13-494,MH\nDM,SOFT TISSUE PLASMACYTOMAS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,26702.0,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_head = df.head(4)

In [7]:
df_head

,STUDYID,DOMAIN,MHTERM,MHMODIFY,MHLLT,MHLLTCD,MHDECOD,MHPTCD,MHHLT,MHHLTCD,...,MHDICT,MHDICTV,MHDICT_QEVAL,MHDICTV_QEVAL,MHDICTV_QORIG,MHDICT_QORIG,SUBJID,GRPID,SPID,DCMDATE
0,M13-494,MH\nDM,MULTIPLE MYELOMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,25203.0,Multiple Myeloma History,RV-251567100-L2-T01,20210615.0
1,M13-494,MH\nDM,MULTIPLE MYELOMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,29901.0,Multiple Myeloma History,RV-251567100-L2-T01,20210615.0
2,M13-494,MH\nDM,MULTIPLE MYELOMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,24304.0,NaN,NaN,NaN
3,M13-494,MH\nDM,SOFT TISSUE PLASMACYTOMAS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,26702.0,NaN,NaN,NaN

In [8]:
dm_table = pd.read_csv("t_dm.csv")

In [9]:
dm_table

,STUDYID,DOMAIN,SUBJID,RFICDTC,DTHDTC,DTHFL,SITEID,INVID,INVNAM,BRTHDTC,...,CRACE2,CRACE3,RANDNO,CRACE4,CRACE5,CRACE7,INVNAMO,GRPID,SPID,DCMDATE
0,M13-494,DM,16901,20181022,20190425.0,Y,180513,180513,Atsushi Shinagawa,1948,...,JAPANESE,NaN,2050010,NaN,NaN,NaN,Atsushi Shinagawa,Demographics,RV-202780995-L0,20181112
1,M13-494,DM,24101,20181128,20190131.0,Y,135955,135955,Aris Chaidos,1958,...,NaN,NaN,1080099,NaN,NaN,NaN,Aris Chaidos,Demographics,RV-205881144-L0,20181128
2,M13-494,DM,16201,20181206,20200823.0,Y,78961,78961,Shinsuke Iida,1952,...,JAPANESE,NaN,2090074,NaN,NaN,NaN,Shinsuke Iida,Demographics,RV-206372799-L0,20181206
3,M13-494,DM,16202,20181220,NaN,NaN,78961,78961,Shinsuke Iida,1949,...,JAPANESE,NaN,2030036,NaN,NaN,NaN,Shinsuke Iida,Demographics,RV-207378729-L0,20181220
4,M13-494,DM,26301,20190904,NaN,NaN,970588,970588,Prashant Kapoor,1958,...,NaN,NaN,1010107,NaN,NaN,NaN,Prashant Kapoor,Demographics,RV-221839422-L0,20190904
5,M13-494,DM,16803,20191030,20201012.0,Y,237359,237359,Michiko Ichii,1952,...,JAPANESE,NaN,2030086,NaN,NaN,NaN,Hirohiko Shibayama,Demographics,RV-224688837-L0,20191030
6,M13-494,DM,16902,20190204,20191129.0,Y,180513,180513,Atsushi Shinagawa,1959,...,JAPANESE,NaN,2060033,NaN,NaN,NaN,Atsushi Shinagawa,Demographics,RV-206986872-L0,20190204
7,M13-494,DM,30101,20201207,20210304.0,Y,1234536,1234536,Ping LI,1952,...,NaN,CHINESE,3110062,NaN,NaN,NaN,Ping LI,Demographics,RV-243285009-L0,20201207

In [10]:
a = []
if m != k:
    a.append(m)
print(a)

NameError: name 'm' is not defined

In [72]:
a=[]
for i in df_head:
    if i not in dm_table.columns:
        a.append(i)

In [11]:
col1 = df.columns.tolist()
col1

['STUDYID',
 'DOMAIN',
 'MHTERM',
 'MHMODIFY',
 'MHLLT',
 'MHLLTCD',
 'MHDECOD',
 'MHPTCD',
 'MHHLT',
 'MHHLTCD',
 'MHHLGT',
 'MHHLGTCD',
 'MHCAT',
 'MHSCAT',
 'MHPRESP',
 'MHOCCUR',
 'MHBODSYS',
 'MHBDSYCD',
 'MHSOC',
 'MHSOCCD',
 'MHTOXGR',
 'VISITNUM',
 'VISIT',
 'MHDTC',
 'BRTHDTC',
 'MHSTDTC',
 'MHENDTC',
 'MHENRTPT',
 'MHENTPT',
 'INVID',
 'MHISST',
 'MHREQTRT',
 'MHDICT',
 'MHDICTV',
 'MHDICT_QEVAL',
 'MHDICTV_QEVAL',
 'MHDICTV_QORIG',
 'MHDICT_QORIG',
 'SUBJID',
 'GRPID',
 'SPID',
 'DCMDATE']

In [12]:
col2 = dm_table.columns.tolist()

In [13]:
match_cols = [i for i in col1 if i in col2]

In [14]:
match_cols  = [x for x in match_cols if x not in ['STUDYID','DOMAIN']]

In [15]:
match_cols

['VISITNUM', 'VISIT', 'BRTHDTC', 'INVID', 'SUBJID', 'GRPID', 'SPID', 'DCMDATE']

In [16]:
dm_table

,STUDYID,DOMAIN,SUBJID,RFICDTC,DTHDTC,DTHFL,SITEID,INVID,INVNAM,BRTHDTC,...,CRACE2,CRACE3,RANDNO,CRACE4,CRACE5,CRACE7,INVNAMO,GRPID,SPID,DCMDATE
0,M13-494,DM,16901,20181022,20190425.0,Y,180513,180513,Atsushi Shinagawa,1948,...,JAPANESE,NaN,2050010,NaN,NaN,NaN,Atsushi Shinagawa,Demographics,RV-202780995-L0,20181112
1,M13-494,DM,24101,20181128,20190131.0,Y,135955,135955,Aris Chaidos,1958,...,NaN,NaN,1080099,NaN,NaN,NaN,Aris Chaidos,Demographics,RV-205881144-L0,20181128
2,M13-494,DM,16201,20181206,20200823.0,Y,78961,78961,Shinsuke Iida,1952,...,JAPANESE,NaN,2090074,NaN,NaN,NaN,Shinsuke Iida,Demographics,RV-206372799-L0,20181206
3,M13-494,DM,16202,20181220,NaN,NaN,78961,78961,Shinsuke Iida,1949,...,JAPANESE,NaN,2030036,NaN,NaN,NaN,Shinsuke Iida,Demographics,RV-207378729-L0,20181220
4,M13-494,DM,26301,20190904,NaN,NaN,970588,970588,Prashant Kapoor,1958,...,NaN,NaN,1010107,NaN,NaN,NaN,Prashant Kapoor,Demographics,RV-221839422-L0,20190904
5,M13-494,DM,16803,20191030,20201012.0,Y,237359,237359,Michiko Ichii,1952,...,JAPANESE,NaN,2030086,NaN,NaN,NaN,Hirohiko Shibayama,Demographics,RV-224688837-L0,20191030
6,M13-494,DM,16902,20190204,20191129.0,Y,180513,180513,Atsushi Shinagawa,1959,...,JAPANESE,NaN,2060033,NaN,NaN,NaN,Atsushi Shinagawa,Demographics,RV-206986872-L0,20190204
7,M13-494,DM,30101,20201207,20210304.0,Y,1234536,1234536,Ping LI,1952,...,NaN,CHINESE,3110062,NaN,NaN,NaN,Ping LI,Demographics,RV-243285009-L0,20201207

In [19]:
dm_table.columns

Index(['STUDYID', 'DOMAIN', 'RFICDTC', 'DTHDTC', 'DTHFL', 'SITEID', 'INVNAM',
       'SEX', 'ETHNIC', 'ARMCD', 'ARM', 'COUNTRY', 'DMDTC', 'RACEW', 'RACEA',
       'RACEB', 'RACEH', 'RACEN', 'INVNO', 'DMSF', 'CRACE2', 'CRACE3',
       'RANDNO', 'CRACE4', 'CRACE5', 'CRACE7', 'INVNAMO'],
      dtype='object')

In [21]:
df.columns

Index(['STUDYID', 'DOMAIN', 'MHTERM', 'MHMODIFY', 'MHLLT', 'MHLLTCD',
       'MHDECOD', 'MHPTCD', 'MHHLT', 'MHHLTCD', 'MHHLGT', 'MHHLGTCD', 'MHCAT',
       'MHSCAT', 'MHPRESP', 'MHOCCUR', 'MHBODSYS', 'MHBDSYCD', 'MHSOC',
       'MHSOCCD', 'MHTOXGR', 'VISITNUM', 'VISIT', 'MHDTC', 'BRTHDTC',
       'MHSTDTC', 'MHENDTC', 'MHENRTPT', 'MHENTPT', 'INVID', 'MHISST',
       'MHREQTRT', 'MHDICT', 'MHDICTV', 'MHDICT_QEVAL', 'MHDICTV_QEVAL',
       'MHDICTV_QORIG', 'MHDICT_QORIG', 'SUBJID', 'GRPID', 'SPID', 'DCMDATE'],
      dtype='object')

In [17]:
dm_table.drop(match_cols, axis=1, inplace=True)

In [46]:
dm_table

,STUDYID,DOMAIN,RFICDTC,DTHDTC,DTHFL,SITEID,INVNAM,SEX,ETHNIC,ARMCD,...,RACEN,INVNO,DMSF,CRACE2,CRACE3,RANDNO,CRACE4,CRACE5,CRACE7,INVNAMO
0,M13-494,DM,20181022,20190425.0,Y,180513,Atsushi Shinagawa,F,NOT HISPANIC OR LATINO,2,...,NaN,180513,N,JAPANESE,NaN,2050010,NaN,NaN,NaN,Atsushi Shinagawa
1,M13-494,DM,20181128,20190131.0,Y,135955,Aris Chaidos,F,NOT HISPANIC OR LATINO,2,...,NaN,135955,N,NaN,NaN,1080099,NaN,NaN,NaN,Aris Chaidos
2,M13-494,DM,20181206,20200823.0,Y,78961,Shinsuke Iida,M,NOT HISPANIC OR LATINO,1,...,NaN,78961,N,JAPANESE,NaN,2090074,NaN,NaN,NaN,Shinsuke Iida
3,M13-494,DM,20181220,NaN,NaN,78961,Shinsuke Iida,F,NOT HISPANIC OR LATINO,2,...,NaN,78961,N,JAPANESE,NaN,2030036,NaN,NaN,NaN,Shinsuke Iida
4,M13-494,DM,20190904,NaN,NaN,970588,Prashant Kapoor,M,NOT HISPANIC OR LATINO,2,...,NaN,970588,N,NaN,NaN,1010107,NaN,NaN,NaN,Prashant Kapoor
5,M13-494,DM,20191030,20201012.0,Y,237359,Michiko Ichii,M,NOT HISPANIC OR LATINO,2,...,NaN,106594,N,JAPANESE,NaN,2030086,NaN,NaN,NaN,Hirohiko Shibayama
6,M13-494,DM,20190204,20191129.0,Y,180513,Atsushi Shinagawa,F,NOT HISPANIC OR LATINO,1,...,NaN,180513,N,JAPANESE,NaN,2060033,NaN,NaN,NaN,Atsushi Shinagawa
7,M13-494,DM,20201207,20210304.0,Y,1234536,Ping LI,F,NOT HISPANIC OR LATINO,2,...,NaN,1234536,N,NaN,CHINESE,3110062,NaN,NaN,NaN,Ping LI