# Review of python's datetime Module

In [1]:
import pandas as pd
import datetime as dt

In [4]:
someday=dt.date(2010,1,20)

In [13]:
str(someday)

'2010-01-20'

In [7]:
someday.year
someday.month
someday.day

20

In [12]:
str(dt.datetime(2010,3,30,8,30,57))

'2010-03-30 08:30:57'

In [14]:
sometime=dt.datetime(2010,3,30,8,30,57)

In [17]:
sometime.year
sometime.month
sometime.day
sometime.minute
sometime.second

57

In [11]:
some=dt.date(2010,1,2)
some.day

2

# The Pandas Timestamp Object

In [15]:
pd.Timestamp("2015-03-31")
pd.Timestamp("2015/03/31")
pd.Timestamp("2015-03-31")
pd.Timestamp("31-03-2015")

Timestamp('2015-03-31 00:00:00')

In [16]:
pd.Timestamp("2015-03-31 6:15:30 PM")

Timestamp('2015-03-31 18:15:30')

In [18]:
pd.Timestamp(pd.Timestamp(2000,6,14,5,15,12))

Timestamp('2000-06-14 05:15:12')

# The Pandas DateTimeIndex Object

In [19]:
dates=["2010/02/12","2011/03/22","2013/04/03"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2010-02-12', '2011-03-22', '2013-04-03'], dtype='datetime64[ns]', freq=None)

In [24]:
dates=[dt.date(2010,2,14),dt.date(2013,7,20),dt.date(2017,5,16)]
pd.DatetimeIndex(dates)

DatetimeIndex(['2010-02-14', '2013-07-20', '2017-05-16'], dtype='datetime64[ns]', freq=None)

# The pd.to_datetime() Method

In [29]:
pd.to_datetime("2016/3/14")
pd.to_datetime(dt.date(2018,3,17))
pd.to_datetime(dt.datetime(2018,3,17,2,55,43))
pd.to_datetime(["2015-03-12","2016-04-17","2000","jun14/2000"])

DatetimeIndex(['2015-03-12', '2016-04-17', '2000-01-01', '2000-06-14'], dtype='datetime64[ns]', freq=None)

In [33]:
times=pd.Series(["2015-03-12","2016-04-17","2000","jun14/2000"])
times

0    2015-03-12
1    2016-04-17
2          2000
3    jun14/2000
dtype: object

In [34]:
pd.to_datetime(times)

0   2015-03-12
1   2016-04-17
2   2000-01-01
3   2000-06-14
dtype: datetime64[ns]

In [36]:
ti=pd.Series(["2015-03-12","2016-04-17","2000","Hello","jun14/2000"])

In [42]:
pd.to_datetime(ti,errors="coerce")

0   2015-03-12
1   2016-04-17
2   2000-01-01
3          NaT
4   2000-06-14
dtype: datetime64[ns]

In [45]:
pd.to_datetime([5678943345,8765432127],unit="s")

DatetimeIndex(['2149-12-16 12:15:45', '2247-10-07 18:15:27'], dtype='datetime64[ns]', freq=None)

# Create Range of Dates with the pd.range() Method,part1

In [51]:
times=pd.date_range(start="2016-01-01",end="2016-10-01",freq="D")
times

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10',
               ...
               '2016-09-22', '2016-09-23', '2016-09-24', '2016-09-25',
               '2016-09-26', '2016-09-27', '2016-09-28', '2016-09-29',
               '2016-09-30', '2016-10-01'],
              dtype='datetime64[ns]', length=275, freq='D')

In [48]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [49]:
times[0]

Timestamp('2016-01-01 00:00:00', freq='D')

In [50]:
pd.date_range(start="2016-01-01",end="2016-10-01",freq="1D")

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10',
               ...
               '2016-09-22', '2016-09-23', '2016-09-24', '2016-09-25',
               '2016-09-26', '2016-09-27', '2016-09-28', '2016-09-29',
               '2016-09-30', '2016-10-01'],
              dtype='datetime64[ns]', length=275, freq='D')

In [52]:
pd.date_range(start="2016-01-01",end="2016-10-01",freq="2D")

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09', '2016-01-11', '2016-01-13', '2016-01-15',
               '2016-01-17', '2016-01-19',
               ...
               '2016-09-13', '2016-09-15', '2016-09-17', '2016-09-19',
               '2016-09-21', '2016-09-23', '2016-09-25', '2016-09-27',
               '2016-09-29', '2016-10-01'],
              dtype='datetime64[ns]', length=138, freq='2D')

In [54]:
pd.date_range(start="2016-01-01",end="2016-10-01",freq="W-FRI")

DatetimeIndex(['2016-01-01', '2016-01-08', '2016-01-15', '2016-01-22',
               '2016-01-29', '2016-02-05', '2016-02-12', '2016-02-19',
               '2016-02-26', '2016-03-04', '2016-03-11', '2016-03-18',
               '2016-03-25', '2016-04-01', '2016-04-08', '2016-04-15',
               '2016-04-22', '2016-04-29', '2016-05-06', '2016-05-13',
               '2016-05-20', '2016-05-27', '2016-06-03', '2016-06-10',
               '2016-06-17', '2016-06-24', '2016-07-01', '2016-07-08',
               '2016-07-15', '2016-07-22', '2016-07-29', '2016-08-05',
               '2016-08-12', '2016-08-19', '2016-08-26', '2016-09-02',
               '2016-09-09', '2016-09-16', '2016-09-23', '2016-09-30'],
              dtype='datetime64[ns]', freq='W-FRI')

In [56]:
pd.date_range(start="2016-01-01",end="2016-10-01",freq="6H")

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00',
               ...
               '2016-09-28 18:00:00', '2016-09-29 00:00:00',
               '2016-09-29 06:00:00', '2016-09-29 12:00:00',
               '2016-09-29 18:00:00', '2016-09-30 00:00:00',
               '2016-09-30 06:00:00', '2016-09-30 12:00:00',
               '2016-09-30 18:00:00', '2016-10-01 00:00:00'],
              dtype='datetime64[ns]', length=1097, freq='6H')

# Create Range of Dates with the pd.date_range() Method,part2

In [60]:
pd.date_range(start="2019-01-22",periods=25,freq="D")

DatetimeIndex(['2019-01-22', '2019-01-23', '2019-01-24', '2019-01-25',
               '2019-01-26', '2019-01-27', '2019-01-28', '2019-01-29',
               '2019-01-30', '2019-01-31', '2019-02-01', '2019-02-02',
               '2019-02-03', '2019-02-04', '2019-02-05', '2019-02-06',
               '2019-02-07', '2019-02-08', '2019-02-09', '2019-02-10',
               '2019-02-11', '2019-02-12', '2019-02-13', '2019-02-14',
               '2019-02-15'],
              dtype='datetime64[ns]', freq='D')

In [61]:
len(pd.date_range(start="2019-01-22",periods=25,freq="D"))

25

In [64]:
pd.date_range(start="2022-01-22",periods=50,freq="W-SUN")

DatetimeIndex(['2022-01-23', '2022-01-30', '2022-02-06', '2022-02-13',
               '2022-02-20', '2022-02-27', '2022-03-06', '2022-03-13',
               '2022-03-20', '2022-03-27', '2022-04-03', '2022-04-10',
               '2022-04-17', '2022-04-24', '2022-05-01', '2022-05-08',
               '2022-05-15', '2022-05-22', '2022-05-29', '2022-06-05',
               '2022-06-12', '2022-06-19', '2022-06-26', '2022-07-03',
               '2022-07-10', '2022-07-17', '2022-07-24', '2022-07-31',
               '2022-08-07', '2022-08-14', '2022-08-21', '2022-08-28',
               '2022-09-04', '2022-09-11', '2022-09-18', '2022-09-25',
               '2022-10-02', '2022-10-09', '2022-10-16', '2022-10-23',
               '2022-10-30', '2022-11-06', '2022-11-13', '2022-11-20',
               '2022-11-27', '2022-12-04', '2022-12-11', '2022-12-18',
               '2022-12-25', '2023-01-01'],
              dtype='datetime64[ns]', freq='W-SUN')

In [65]:
pd.date_range(start="2022-01-22",periods=50,freq="MS")

DatetimeIndex(['2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01',
               '2022-06-01', '2022-07-01', '2022-08-01', '2022-09-01',
               '2022-10-01', '2022-11-01', '2022-12-01', '2023-01-01',
               '2023-02-01', '2023-03-01', '2023-04-01', '2023-05-01',
               '2023-06-01', '2023-07-01', '2023-08-01', '2023-09-01',
               '2023-10-01', '2023-11-01', '2023-12-01', '2024-01-01',
               '2024-02-01', '2024-03-01', '2024-04-01', '2024-05-01',
               '2024-06-01', '2024-07-01', '2024-08-01', '2024-09-01',
               '2024-10-01', '2024-11-01', '2024-12-01', '2025-01-01',
               '2025-02-01', '2025-03-01', '2025-04-01', '2025-05-01',
               '2025-06-01', '2025-07-01', '2025-08-01', '2025-09-01',
               '2025-10-01', '2025-11-01', '2025-12-01', '2026-01-01',
               '2026-02-01', '2026-03-01'],
              dtype='datetime64[ns]', freq='MS')

In [66]:
pd.date_range(start="2022-01-22",periods=50,freq="H")

DatetimeIndex(['2022-01-22 00:00:00', '2022-01-22 01:00:00',
               '2022-01-22 02:00:00', '2022-01-22 03:00:00',
               '2022-01-22 04:00:00', '2022-01-22 05:00:00',
               '2022-01-22 06:00:00', '2022-01-22 07:00:00',
               '2022-01-22 08:00:00', '2022-01-22 09:00:00',
               '2022-01-22 10:00:00', '2022-01-22 11:00:00',
               '2022-01-22 12:00:00', '2022-01-22 13:00:00',
               '2022-01-22 14:00:00', '2022-01-22 15:00:00',
               '2022-01-22 16:00:00', '2022-01-22 17:00:00',
               '2022-01-22 18:00:00', '2022-01-22 19:00:00',
               '2022-01-22 20:00:00', '2022-01-22 21:00:00',
               '2022-01-22 22:00:00', '2022-01-22 23:00:00',
               '2022-01-23 00:00:00', '2022-01-23 01:00:00',
               '2022-01-23 02:00:00', '2022-01-23 03:00:00',
               '2022-01-23 04:00:00', '2022-01-23 05:00:00',
               '2022-01-23 06:00:00', '2022-01-23 07:00:00',
               '2022-01-23 08:00:00', '2022-01-23 09:00:00',
               '2022-01-23 10:00:00', '2022-01-23 11:00:00',
               '2022-01-23 12:00:00', '2022-01-23 13:00:00',
               '2022-01-23 14:00:00', '2022-01-23 15:00:00',
               '2022-01-23 16:00:00', '2022-01-23 17:00:00',
               '2022-01-23 18:00:00', '2022-01-23 19:00:00',
               '2022-01-23 20:00:00', '2022-01-23 21:00:00',
               '2022-01-23 22:00:00', '2022-01-23 23:00:00',
               '2022-01-24 00:00:00', '2022-01-24 01:00:00'],
              dtype='datetime64[ns]', freq='H')

# Create Range of Dates With The pd.date_range() Method,part3

In [4]:
pd.date_range(end="1999-12-03",periods=40,freq="W-SUN")

DatetimeIndex(['1999-02-28', '1999-03-07', '1999-03-14', '1999-03-21',
               '1999-03-28', '1999-04-04', '1999-04-11', '1999-04-18',
               '1999-04-25', '1999-05-02', '1999-05-09', '1999-05-16',
               '1999-05-23', '1999-05-30', '1999-06-06', '1999-06-13',
               '1999-06-20', '1999-06-27', '1999-07-04', '1999-07-11',
               '1999-07-18', '1999-07-25', '1999-08-01', '1999-08-08',
               '1999-08-15', '1999-08-22', '1999-08-29', '1999-09-05',
               '1999-09-12', '1999-09-19', '1999-09-26', '1999-10-03',
               '1999-10-10', '1999-10-17', '1999-10-24', '1999-10-31',
               '1999-11-07', '1999-11-14', '1999-11-21', '1999-11-28'],
              dtype='datetime64[ns]', freq='W-SUN')

# The .dt accessor

In [2]:
table=pd.date_range(start="2000-6-14",end="2022-2-22",freq="24D")

In [3]:
s=pd.Series(table)

In [7]:
s.dt.is_quarterddf

AttributeError: 'DatetimeProperties' object has no attribute 'weekday_name'